!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.jqplot.js')
    script(type='text/javascript', src='/javascripts/plugins/jqplot.cursor.min.js')
    script(type='text/javascript', src='/javascripts/plugins/jqplot.dateAxisRenderer.min.js')
  body!= body


  script(type='text/javascript', src='/javascripts/charts.js')
